.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    width: 100%;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control {
    width: 100%;
    max-width: 300px;
}

.btn {
    margin-top: 20px;
}