<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="{% static 'img/favicon.ico' %}" />
    {% block title %}
    <title>Bee</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="nav-bar">
        <div class="main-logo">
            <img class="img-main" src="{% static 'img/banner1.png' %}" alt="">
        </div>
        <div class="nav-bar-text">
            <a class="a-text" href="https://beta-e-service.ru.ac.th/index.php">E-Services</a>
            <a class="a-text" href="">Logout</a>
        </div>
    </div>
    {% block content %}

    {% endblock content %}
    </div>
</body>
</html> -->