{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">

<div class="content">

    <!-- ถ้านักศึกษายังไม่มีโปรเจ็ค -->
    {% if not has_project %}
    <a class="a-text" href="{% url 'create_project' %}">
        <div class="teacher">
            <img class="img-content" src="{% static 'img/new-project.png' %}" alt="">
            <h1 class="text-t">Create Project</h1>
            <p class="text-t">สร้างโปรเจ็ค</p>
        </div>
    </a>
    {% else %}
    <!-- ถ้านักศึกษามีโปรเจ็คแล้ว -->
    <a class="a-text" href="{% url 'edit_project' %}">
        <div class="teacher">
            <img class="img-content" src="{% static 'img/edit_project.png' %}" alt="">
            <h1 class="text-t">Manage Project</h1>
            <p class="text-t">จัดการโปรเจ็ค</p>
        </div>
    </a>

    <!-- สำหรับการนัดเวลาอาจารย์ -->
    <a class="a-text" href="{% url 'time_sent' %}">
        <div class="teacher">
            <img class="img-content" src="{% static 'img/deadline.png' %}" alt="">
            <h1 class="text-t">Make an appointment</h1>
            <p class="text-t">นัดเวลาอาจาร์ย</p>
        </div>
    </a>
    {% endif %}

    

</div>

    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}