{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\style.css' %}">
<script src="{% static 'js/main.js' %}"></script>

<div class="teacher-content">
    <div class="top">
        <!-- 1 -->
        <a class="a-text" href="javascript:void(0)" id="openPopup1">
            <div class="box">
                <img class="img-t" src="{% static 'img/teacher.png' %}" alt="">
                <h1>Name</h1>
            </div>
            
        </a>
        <div id="popup1" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h2>Detell 1</h2>
                <p>นี่คือเนื้อหาใน</p>
            </div>
        </div>
        
        <!-- 2 -->
        <a class="a-text" href="javascript:void(0)" id="openPopup2">
            <div class="box">
                <img class="img-t" src="{% static 'img/teacher.png' %}" alt="">
                <h1>Name</h1>
            </div>
            
        </a>
        <div id="popup2" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h2>Detell 2</h2>
                <p>นี่คือเนื้อหาใน</p>
            </div>
        </div>

        <!-- 3 -->
        <a class="a-text" href="javascript:void(0)" id="openPopup3">
            <div class="box">
                <img class="img-t" src="{% static 'img/teacher.png' %}" alt="">
                <h1>Name</h1>
            </div>
            
        </a>
        <div id="popup3" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h2>Detell 3</h2>
                <p>นี่คือเนื้อหาใน</p>
            </div>
        </div>

        <!-- 4 -->
        <a class="a-text" href="javascript:void(0)" id="openPopup4">
            <div class="box">
                <img class="img-t" src="{% static 'img/teacher.png' %}" alt="">
                <h1>Name</h1>
            </div>
            
        </a>
        <div id="popup4" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h2>Detell 4</h2>
                <p>นี่คือเนื้อหาใน</p>
            </div>
        </div>

        <!-- 5 -->
        <a class="a-text" href="javascript:void(0)" id="openPopup5">
            <div class="box">
                <img class="img-t" src="{% static 'img/teacher.png' %}" alt="">
                <h1>Name</h1>
            </div>
            
        </a>
        <div id="popup5" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <h2>Detell 5</h2>
                <p>นี่คือเนื้อหาใน</p>
            </div>
        </div>        
    </div>
    <div class="buttom">
       
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>

{% endblock %}